/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.catalog-item {
    padding-left: 20px;
    border-left: 1px solid black ;
}

.ac-hold {
    display: none;
}

.ac-item-name:hover {
    cursor: text;
}