/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.ac-hold {
    display: none !important;
}

.container-catalog {
    border: 1px solid var(--background-modifier-border);
    border-radius: 5px;
    padding: 20px;
    margin-left: 5px;
}

.ac-item-container {
    width: 100%;
    min-height: 50px;
    display: flow-root;
    gap: 0;
    padding-left: 20px;
    border-inline-start: var(--nav-indentation-guide-width) solid var(--nav-indentation-guide-color);
    transition: background-color 0.2s;
}

.ac-item-container:hover {
    color: var(--nav-item-color-hover);
    border-color: var(--interactive-accent);
    /*background-color: var(--nav-item-background-hover);*/
}

.ac-setting-item-info, .ac-setting-item-control {
    width: 50%;
    float: left;
}

.ac-setting-item-info {
    display: inline-block;
    padding-top: 5px;
    position: relative;
}


.ac-ghost-item-container {
    display: inline-block;
}



.ac-input-ghost-item {
    margin-left: 5px;
    margin-right: 5px;
}

.ac-input-ghost-item, .ac-input-ghost-item:active, .ac-input-ghost-item:focus {
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.ac-input-ghost-item:hover, .ac-input-ghost-item:focus {
    background-color: rgba(0, 0, 0, 0) !important;
}
.ac-input-ghost-item:focus {
    border-color: var(--interactive-accent) !important;
}

.ac-setting-item-control {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.ac-add-file-button, .ac-add-folder-button {
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
    color: var(--icon-color) !important;
}

.ac-add-file-button svg, .ac-add-folder-button svg {
    pointer-events: none;
}

.ac-add-file-button:hover, .ac-add-folder-button:hover {
    cursor: pointer;
    opacity: var(--icon-opacity-hover);
    background-color: var(--background-modifier-hover) !important;
    color: var(--icon-color-hover) !important;
    
}

.ac-delete-button {
    background-color: rgba(var(--color-red-rgb), 0.4) !important;
}

.ac-delete-button:hover {
    cursor: pointer;
}

.ac-item-name, .ac-item-type, .ac-button-collapse {
    float: left;
    margin-top: 10px;
    margin-left: var(--size-4-3);
    margin-bottom: 10px;
    font-size: var(--font-ui-medium);
    color: var(--text-normal);
}

.ac-collapse-button {
    position: absolute;
    margin-inline-start: calc(-1* var(--size-4-5));
    margin-bottom: ;
    color: var(--nav-collapse-icon-color);
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
    top: var(--size-4-2);
}

.ac-is-expanded {
    transform: rotate(90deg);
    color: var(--nav-collapse-icon-color-collapsed) !important;
}

.ac-item-name {
    width: auto;
    margin-left: 5px;
}

.ac-item-type {
    width: auto;
}

.ac-item-name:hover {
    cursor: text;
}


